<header>
  <h1>Sign Up</h1>
</header>


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
      <%= f.input :password_confirmation, required: true %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
    </div>

<% end %>

<%= render "devise/shared/links" %>
