<div id="ticket">
  <header>
    <h1><%= @project.name %></h1>
  </header>
  <header>
    <h2><%= @ticket.name %></h2>
    <ul class="actions">
      <li><%= link_to "Edit Ticket", [:edit, @project, @ticket],
                      class: "edit" %></li>
      <li><%= link_to "Delete Ticket", [@project, @ticket], method: :delete,
                      data: { confirm: "Are you sure you want to delete this ticket?"},
                      class: "delete" %></li>

    </ul>
  </header>
  <%= simple_format(@ticket.description) %>
</div>
